@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Teko:wght@300..700&display=swap');

:root {
    --color-primary-1: #7be266;
    --color-primary-2: #ffffff;
    --color-primary-3: #90a70d;
    --color-primary-4: #5f1515;
    --color-primary-5: #756a67;
    --color-primary-6: #C7BAB3;
    --color-primary-7: #FFF2E7;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: var(--color-primary-1);
    color: var(--color-primary-2);

}

html {
    font-family: Roboto, sans-serif;
    font-weight: 900;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

#navbar {
    max-width: 1120px;
    margin: auto;
    padding: 1.5rem 3rem;
    gap: 5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-family: Teko;
    font-weight: 500;
    font-size: 3rem;
    text-transform: uppercase;
    color: var(--color-primary-3);
}

#navbar > #menu {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.menu-item > a {
    color: var(--color-primary-4);
}

.menu-item-home {
    color: #000000;
}

.menu-item-GitHub {
    color: #000000;
}

.btn-default {
    width: 7rem;
    padding: 0.8rem 0.8rem;
    border-radius: 0.3rem;
    border: none;
    
    align-items: center;
    
    font-family: Roboto;
    font-weight: 700;
    font-size: 1rem;
    color: var(--color-primary-3);
    
    background: var(--color-primary-4);
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: background-color .3s ease;
}

.btn-default:hover {
    background-color: #5f1515d7;
}

main {
    display: flex;
    flex-direction: column;
}

.principal {
    background: var(--color-primary-4);
}

.hero {
    max-width: 1120px;
    height: 60vh;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10rem;

    padding: 0rem 2rem;
    margin: auto;

    overflow: clip;
}

.hero-conteudo {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.hero-imagens-container {
    max-width: 100%;
    column-count: 4;
    column-gap: 1rem;
    margin: -1rem;
}

.destaque {
    font-family: Roboto;
    font-size: 1rem;
    font-weight: 800;
    text-transform: uppercase;
}

.marrom {
    color: var(--color-primary-3);
}

.amarelo {
    color: #be8b0a;
}

.hero-imagens-container > figure > img {
    width: 100%;
    /* aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 20rem; */
    border-radius: 0.3rem;
}

.h1 {
    font-family: Roboto;
    font-size: 3.5rem;
    font-weight: 700;
}

hr {
    border-color: var(--color-primary-3);
}

.hero-subtitulo {
    font-family: Roboto;
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--color-primary-6);
}

.receitas {
    display: flex;
    flex-direction: column;

    max-width: 1120px;
    padding: 3rem 2rem;
    margin: auto;
}

.receitas-cabeçalho {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.receitas-titulo {
    font-family: Roboto;
    font-weight: 700;
    font-size: 2rem;
    color: var(--color-primary-7);
}

.receitas-subtitulo {
    font-family: Roboto;
    font-size: 1rem;
    font-weight: 800;
    color: var(--color-primary-3);
}

.receitas-card-container {
    max-width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
}

.receitas-card {
    background: var(--color-primary-4);
    padding: 2rem;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    flex-basis: 29rem;
    margin-top: 2rem;
}

.receitas-card-cabeçalho {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: end;
}

.receitas-card-cabeçalho-detalhes {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.receita-titulo {
    font-family: Roboto;
    font-weight: 700;
    font-size: 1.5rem;
    color: var(--color-primary-7);
}

.receita-avaliação {
    font-family: Roboto;
    font-weight: 700;
    font-size: 1rem;
    color: var(--color-primary-5);
}

.receita-descricao {
    font-family: Roboto;
    font-size: 1rem;
    font-weight: 700;
    color: var(--color-primary-6);
}

.receita-autor {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
}

.receita-autor > img {
    aspect-ratio: 1/1;
    object-fit: cover;
    width: 2rem;
    border-radius: 20rem;
}

.receita-autor-nome {
    font-family: Roboto;
    font-size: 1rem;
    font-weight: 700;
    color: var(--color-primary-6);
}

footer {
    padding: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    background: var(--color-primary-4);
}

.footer-copy {
    color: var(--color-primary-7);
    font-family: Roboto;
    font-size: 1rem;
    font-weight: 700;
}

.footer-autor {
    color: rgba(255, 242, 231, 0.50);
    font-family: Roboto;
    font-size: 1rem;
    font-weight: 700;
}